#page-content{
    perspective: 6000px;
}

body{
    height: 4000px;
    text-align: center;
}

.myBoxA{
    position:absolute;
    top:0; left:0;
    width: 100%;
    backface-visibility: hidden;
    background-color:aqua;
    height:100%;
    transform-style:preserve-3d;
    transform-origin:left center;
}

.myBoxB{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color:rgb(200,200,200);
    transform-origin: right center;
    transform:rotateY(-90deg);
}

.myBoxB span{
    display:block;
    transform:rotateY(180deg);
}